name: Naukri Profile Update

on:
  schedule:
    - cron: '25 3 * * *'   # 8:55 AM IST
    - cron: '30 6 * * *'   # 12:00 PM IST
    - cron: '0 9 * * *'    # 2:30 PM IST
  workflow_dispatch:

jobs:
  run-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        java-version: '11'
        distribution: 'temurin'

    - name: Run Selenium
      run: mvn test
      env:
        NAUKRI_USER: ${{ secrets.NAUKRI_USER }}
        NAUKRI_PASS: ${{ secrets.NAUKRI_PASS }}
